extends ../layout
block content
      section#post
        article
          header
            table(style='margin : auto auto auto auto; ')
              tr
                td(style='text-align: center;')
                  h1 SPARQL Endpoints Status 
                  br
                  b The new version of the monitoring tool will be revealed shortly and presented during ISWC 2013 conference, stay tuned!
      .line
      section#posts.default-area
        table(style='margin : auto auto auto auto;')
          tr
            td(style='text-align: center;')
              iframe(width='420',  height='315' src='//www.youtube.com/embed/K8_IucR0l7Q?rel=0',  frameborder='0', allowfullscreen)
