header
        table(style='margin : auto auto auto auto; ')
          tr
            td
              a#logo(title='SPARQL Endpoints Status', href='./')
                img(alt='SPARQL Endpoints Status', src='public/images/SES_small.png')
      .line