#################
## Eclipse
#################
build/
/code
/bin
/code.zip
/j-schedule
/h2-2013-05-25
/hsqldb-2.3.0
/jetty-distribution-9.0.4.v20130625
/j-schedule.zip
/features.zip
/h2-2013-05-25.zip
/hsqldb-2.3.0.zip
/jetty-distribution-9.0.4.v20130625.zip
/target
.classpath
.project
.settings/
