extends ../layout
block content
      section#post
        article
          header.wrpl
            h1 SPARQL Web-Querying Infrastructure: Ready for Action?
            time ISWC 2013 conference
            details
              summary Description:
              p
                | Code, queries and results described in the paper
      .line
      section#posts.default-area
        article.wrp(style='padding-bottom: 1em;')
          .wrplInnerBox(style='height: 100%;')
            section
              | All experiments and results presented in our submission paper to ISWC 2013 can be independently reproduced. The code, queries and raw results are all available in the following table
        article.wrp
          .wrplInnerBox(style='height: 100%;')
            table#table_current.psp-table(cellspacing='0', cellpadding='0', border='0', width='100%')
              thead
                tr
                  th.tablehead(width='25%') Resource
                  th.tablehead(width='50%') Description
                  th.tablehead(width='25%') Ready for action?
              tbody
                tr
                  td.tdcenter
                    a(href='/iswc2013_files/discovery.zip', target='_blank') discovery.zip
                  td.tdcenter Results described in section 3
                  td.tdcenter
                    img(src='/images/green.png')
                tr
                  td.tdcenter
                    a(href='/iswc2013_files/features.zip', target='_blank') features.zip
                  td.tdcenter Queries and results described in section 4 (SPARQL 1.0 and SPARQL 1.1)
                  td.tdcenter
                    img(src='/images/green.png')
                tr
                  td.tdcenter
                    a(href='/iswc2013_files/performance.zip', target='_blank') performance.zip
                  td.tdcenter Queries and results described in section 5
                  td.tdcenter
                    img(src='/images/green.png')
                tr
                  td.tdcenter
                    a(href='/iswc2013_files/availability.zip', target='_blank') availability.zip
                  td.tdcenter Results described in section 6
                  td.tdcenter
                    img(src='/images/green.png')
                tr
                  td.tdcenter
                    a(href='/iswc2013_files/code.zip', target='_blank') code.zip
                  td.tdcenter Code used for all experiments (sections 3 to 6)
                  td.tdcenter
                    img(src='/images/green.png')