footer#footer
        .wrpl
          dl
            dt
              img(src='./images/SES_white_small.png')
            dd
              strong SPARQL Endpoints Status
            // dd><br><br><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></dd
        .wrpl
          br
          #linkcat-6.bookmarks
            b Documentation
            ul.xoxo.blogroll
              li
                a(href='https://github.com/pyvandenbussche/ends/wiki', title='About SPARQL Endpoints Status', target='_blank') About
              li
                a(href='https://github.com/pyvandenbussche/ends/wiki', title='Download a standalone instance of the tool', target='_blank') Download
              li
                a(href='https://github.com/pyvandenbussche/ends', title='Source in GitHub', target='_blank') Source code
          #linkcat-6.bookmarks
            b Publication
            ul.xoxo.blogroll
              li
                a(href='#', title='Article in ISWC 2013 In Use track', target='_blank') ISWC 2013
        .wrpl
          a#mt(href='http://okfn.org/', target='_blank')
            div
            span
              p Hosted by 
              p the Open Knowledge Foundation