head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title SPARQL Endpoints Status
    link(rel='icon', href='./images/favicon.ico')
    link(rel='stylesheet', type='text/css', media='all', href='./styles/style.css')
    link(rel='stylesheet', type='text/css', media='screen', href='./styles/style_ext.css')
    link(href='./styles/nv.d3.css', rel='stylesheet', type='text/css')
    script(src='./lib/d3.v3.min.js', charset='utf-8')
    script(src='./lib/nv.d3.js')
    link(rel='stylesheet', href='./bxSlider_files/jquery.bxslider.css', type='text/css')
    script(src='./bxSlider_files/jquery.min.js')
    script(src='./bxSlider_files/jquery.bxslider.js')
    script(src='./bxSlider_files/scripts.js')
    meta(http-equiv='Content-Language', content='en-US')
    style.
      @font-face {
        font-family: 'Terminal Dosis';
        src: local('Dosis Regular'), local('Dosis-Regular'), url('https://themes.googleusercontent.com/static/fonts/terminaldosis/v5/_IcvjW_kWHsIHjjUsLbdpFGxLvFzKVP0OsRYGzgS_zk.woff') format('woff');
        font-weight: 400;
        font-style: normal;
      }
      @font-face {
        font-family: 'Terminal Dosis';
        src: local('Dosis Bold'), local('Dosis-Bold'), url(https://themes.googleusercontent.com/static/fonts/terminaldosis/v5/SwfduKDlxm7-vFPpKzhxuXc6UtMyEUJBDIS9_5iIX2E.woff) format('woff');
        font-weight: 700;
        font-style: normal;
      }