header
        a#logo(title='SPARQL Endpoints Status', href='#')
          img(alt='', src='./images/SES_small.png')
        nav
          ul
            li.wrpl
              a(title='', href='http://vittoriovittori.com/en/code/img-zoom')
                | Highlights
                span At a glance
            li.wrpl
              a(title='', href='http://vittoriovittori.com/en/design/peach-monroe')
                | Discoverability
                span VoID, Server
            li.wrpl
              a(title='', href='http://vittoriovittori.com/en/furniture/coffee-lounge-with-pirelli-tires')
                | Interoperability
                span SPARQL 1.0 / 1.1
            li.wrpl
              a(title='', href='http://vittoriovittori.com/en/furniture/coffee-lounge-with-pirelli-tires')
                | Performance
                span Cold / Warm
            li.wrpl
              a(title='', href='http://vittoriovittori.com/en/photo/laos')
                | Availability
                span Up / Down
      .line