doctype html
html(lang='en')
  include head
  body.home
    | <div id="maintenance">We are currently rewriting parts of the software and certain services may be unresponsive and/or inaccurate.</div>
    .container
      include header
      block content
      include footer
