/** FONTELLO TEXT ICONS
================================================**/

@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot");
  src: url("fonts/fontello.eot?#iefix") format('embedded-opentype'),
			 url("fonts/fontello.woff") format('woff'),
			 url("fonts/fontello.ttf") format('truetype'),
			 url("fonts/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-fontello"]:before,
[class*=" icon-fontello"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  line-height: 1em;
}

.icon-fontello-down:before { content: '\2193'; } /* '↓' */
.icon-fontello-resize-full:before { content: '\e744'; } /* '' */
.icon-fontello-github:before { content: '\f308'; } /* '' */
.icon-fontello-thumbs-up:before { content: '\2a'; } /* '*' */

/** ICOMOON TEXT ICONS
================================================**/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-icomoon"]:before,
[class*=" icon-icomoon"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-icomoon-tablet:before {content: "\e000";}
.icon-icomoon-desktop:before {content: "\e002";}
.icon-icomoon-phone:before {content: "\e001";}
.icon-icomoon-bx-star:before {content: "\e004";}
.icon-icomoon-github:before {content: "\e005";}
.icon-icomoon-beer:before {content: "\e003";}
.icon-icomoon-double-arrow:before {content: "\e006";}

/** KIEV FONT IMPORT
================================================**/

@font-face {
	font-family: 'KievitWeb';
	src: url('fonts/KievitWeb.eot');
	src: url('fonts/KievitWeb.eot?#iefix') format('embedded-opentype'), 
			 url('fonts/KievitWeb.woff') format('woff'),
			 url('fonts/kievitcomp-bold-webfont.svg#KievitComp-BoldRegular') format('svg');
	font-weight: normal;
}

@font-face {
	font-family: 'KievitWeb';
	src: url('fonts/KievitWeb-Bold.eot');
	src: url('fonts/KievitWeb-Bold.eot?#iefix') format('embedded-opentype'), 
			 url('fonts/KievitWeb-Bold.woff') format('woff'),
			 url('fonts/kievitcomp-bold-webfont.svg#KievitComp-BoldRegular') format('svg');
	font-weight: bold;
}

/** RESET AND CLEARFIX
================================================**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #414141;
	font-family: "Helvetica", "Arial", sans-serif;
	background: #f5f5f5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/** TYPOGRAPHY
================================================**/

a {
	color: #5280dd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "KievitWeb", "Arial";
	font-weight: bold;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.375em;
	margin-bottom: 35px;
}

h3 {
	font-size: 1.375em;
	margin-bottom: 10px;
}

p {
	font-size: .875em;
	line-height: 1.35em;
	color: #555;
	margin-bottom: 20px;
}

p.intro {
	font-size: 1.125em;
	margin-bottom: 35px;
}

pre {
	margin: 15px 0;
	overflow: auto;
}

hr {
	border: 0;
	border-top: solid #ddd 1px;
	margin: 40px 0;
}

/** LAYOUT
================================================**/

.inner {
	width: 1000px;
	position: relative;
	margin: 0 auto;
}

#main {
	padding: 50px 0;
}

#primary {
	margin: 0 270px 0 0;
	position: relative;
}

aside {
	width: 230px;
	float: right;
}

/** HOME
================================================**/

.home h1 {
	text-align: center;
	line-height: 1.25em;
	font-size: 3.75em;
}

.home .bx-wrapper {
	margin: 30px auto 40px;
}

.home #primary ul {
	margin: 0 0 40px 16px;
}

.home #primary li {
	list-style: disc;
	margin-bottom: 10px;
	color: #555;
	font-size: 1em;
}

.pictogram {
/*	margin: 60px 0 90px 20px;*/
	padding: 20px 0;
	text-align: center;
}

.pictogram div {
	display: inline-block;
	position: relative;
}

.pictogram .icon-icomoon-desktop {
	font-size: 8em;
}

.pictogram .icon-icomoon-tablet {
	font-size: 6em;
	top: -15px;
}

.pictogram .icon-icomoon-phone {
	font-size: 4em;
	top: -30px;
}

.pictogram .icon-fontello-thumbs-up {
	font-size: 7em;
	top: -30px;
}

.pictogram .operator {
	color: #c5c5c5;
	margin: 0 20px;
	top: -45px;
	font-size: 3.5em;
	font-weight: bold;
}

.step {
	margin-bottom: 45px;
}

.home p.pop {
	color: #de3329;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 6px 0 80px;
	font-family: "KievitWeb", "Arial";
}

/** EXAMPLES
================================================**/

.example-item h1 {
	font-size: 2.5em;
	margin-bottom: 30px;
}

.code-switch {
	margin-top: 20px;
	height: 25px;
}

.code-switch a {
	display: block;
	width: 70px;
	color: #fff;
	text-align: center;
	float: left;
	background: #989898;
	padding: 5px 0;
	font-family: "Consolas", "Monaco", "Courier", serif;
	font-size: .875em;
}

.code-switch a.active {
	background: #5280dd;
}

.code-switch .js {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.code-switch .html {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.code-wrap .code {
	display: none;
}

.code-wrap .code.active {
	display: block;
}

.example-item .examples-list {
	margin-top: 60px;
}

.examples-list ol {
	margin-left: 30px;
}

.examples-list ol li {
	list-style: decimal;
	color: #666;
	margin-bottom: 8px;
}

.example-item ol li {
	font-size: .875em;
}

.example-item .slider a {
	line-height: 1.5em;
}

.example-item #bx-pager {
	text-align: center;
	margin-top: -30px;
}

.example-item #bx-pager a {
	margin: 0 3px;
}

.example-item #bx-pager a img {
	padding: 3px;
	border: solid #ccc 1px;
}

.example-item #bx-pager a:hover img,
.example-item #bx-pager a.active img {
	border: solid #5280DD 1px;
}

/** CAROUSEL DEMYSTIFIED
================================================**/

.carousel-demystified aside { display: none; }
.carousel-demystified #primary { margin: 0;}

.carousel-demystified h2 {
	font-size: 1.75em;
	margin-bottom: 30px;
}

.carousel-demystified ol li {
	list-style: decimal;
	margin: 0 0 5px 50px;
	line-height: 1.35em;
	color: #555;
}

/** OPTIONS
================================================**/

.options h1 {
	margin-bottom: 10px;
}

.options h2 {
	font-size: 1.5em;
	margin-bottom: 15px;
}

.option-name {
	font-weight: bold;
	font-size: .875em;
	margin-bottom: 2px;
}

.option-desc {
	font-size: .8em;
	line-height: 1.25em;
	color: #666;
}

.options pre {
	margin: 10px 0 25px;
}

.category-wrap {
	margin-bottom: 40px;
}

.reference-wrap {
	position: absolute;
	top: 0;
	right: 0;
	background: #e4e4e4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
}

.reference-wrap h3 {
	font-size: 1.125em;
	margin: 0;
	background: #e4e4e4;
	padding: 10px 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	text-align: right;
}

.reference-wrap h3 span {
	color: #939393;
	position: relative;
	top: 2px;
	margin-left: 5px;
}

.reference-content {
	padding: 20px;
	display: none;
}

.reference-content h4 {
	margin-bottom: 5px;
}

.reference-content a {
	display: block;
	font-size: .8em;
	padding: 3px 0;
}

.reference-content .col {
	margin-bottom: 20px;
}

.reference-content .col-wrap {
/*	width: 125px;
	float: left;
	margin-right: 20px;
*/}

.reference-content .col-wrap.last {
	margin-right: 0;
}

.reference-content-inner {
	/*width: 430px;*/
	height: 300px;
	overflow: auto;
}

/** FAQS
================================================**/

.faqs h3 {
	font-size: 1.15em;
	line-height: 1.25em;
	margin-bottom: 3px;
}

.faqs .questions p {
	margin-bottom: 10px;
}

.faqs .question {
	margin-bottom: 30px;
}

.faqs ul,
.about ul {
	margin: 0 0 20px 20px;
}

.faqs ul li,
.about ul li {
	color: #555;
	font-size: .875em;
	list-style: disc;
	margin-bottom: 7px;
	line-height: 1.25em;
}

/** ABOUT
================================================**/

.about h3 {
	margin-top: 50px;
}


/** SIDEBAR
================================================**/

aside .block {
	padding: 30px 0;
	border-bottom: solid #c2c2c2 1px;
}

aside .block-advert {
	padding-top: 0;
}

aside .block-advert .bsa_it_ad {
	margin-bottom: 5px;
}

aside .block-advert .one .bsa_it_ad .bsa_it_i {
	margin-right: 25px;
}

aside .block-advert .yoggrt-link {
	font-size: .875em;
}

aside .block-buttons {
	padding-bottom: 35px;
}

aside .block-buttons form {
	display: none;
}

aside .btn {
	display: block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 5px 0 #9f9f9f;
	-webkit-box-shadow: 0 5px 0 #9f9f9f;
	box-shadow: 0 5px 0 #9f9f9f;
	background: #d8d8d8;
	color: #414141;
	padding: 5px 14px 3px;
	font-weight: bold;
	font-size: 1.5em;
	font-family: "KievitWeb", "Arial";
	position: relative;
}

aside .btn span {
	font-weight: normal;
	position: relative;
	top: 2px;
	padding-right: 4px;
}

aside .btn-donate {
	margin-bottom: 20px;
}

aside .btn-donate span {
	font-size: 1.1em;
	padding-right: 6px;
}

aside .btn:hover {
	color: #5280dd;
	text-decoration: none;
}

aside .btn:hover span {
	color: #414141;
}

aside .btn:active {
	top: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

aside h4 {
	font-size: 1.375em;
	line-height: 1.25em;
	margin-bottom: 8px;
}

aside .block-about {
	border-bottom: 0;
	margin-bottom: 0;
}

aside .block p {
	font-size: 1em;
	line-height: 1.25em;
}

aside input[type="text"] {
	border: solid #c2c2c2 1px;
	padding: 3px 5px;
	display: block;
	width: 93%;
	margin-bottom: 10px;
}

aside label {
	font-size: .875em;
	margin-bottom: 3px;
	display: block;
}

aside input[type="submit"] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #5280dd;
	color: #fff;
	padding: 4px 10px;
	border: none;
	font-size: .875em;
	cursor: pointer;
	-webkit-appearance: none;
}

aside input[type="submit"]:hover {
	background: #72cb76;
}

aside .block-signup .error {
	display: none;
	color: red;
	font-size: .875em;
	margin-bottom: 10px;
}

/** HEADER
================================================**/

header {
	background: #e0e0e0;
	border-bottom: solid 3px #c3c3c3;
}

.logo {
	float: left;
	font-size: 2.25em;
	font-family: "KievitWeb", "Arial";
	padding: 18px 0;
}

.logo a {
	color: #414141;
	font-weight: bold;
}

.logo a:hover {
	text-decoration: none;
}

.icon-icomoon-bx-star {
	color: #de3329;
	position: relative;
	top: 4px;
}

header .download {
	position: absolute;
	top: 27px;
	right: 0;
}

nav {
	position: absolute;
	top: 31px;
	right: 150px;
	font-family: "KievitWeb", "Arial";
}

nav a {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0 10px;
	color: #414141;
}

nav a.active,
nav a:hover {
	color: #de3329;
	text-decoration: none;
}

header .btn {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 5px 0 #365491;
	-webkit-box-shadow: 0 5px 0 #365491;
	box-shadow: 0 5px 0 #365491;
	background: #5280dd;
	color: #fff;
	padding: 5px 14px 3px;
	font-weight: bold;
	font-size: 1.1em;
	position: relative;
	font-family: "KievitWeb", "Arial";
}

header .btn:hover {
	background: #72cb76;
	-moz-box-shadow: 0 5px 0 #549557;
	-webkit-box-shadow: 0 5px 0 #549557;
	box-shadow: 0 5px 0 #549557;
	text-decoration: none;
}

header .btn:active {
	top: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/** NEWS FLASH
================================================**/

#news-flash {
	background: #414141;
}

#news-flash .inner {
	
	color: #fff;
}

#news-flash h5 {
	background: url('/images/icons/icon_alert.png') left center no-repeat;
	padding: 14px 0 14px 34px;
	margin-left: 5px;
	font-weight: 300;
}

#news-flash a {
	color: #fff;
	padding-left: 10px;
	text-decoration: underline;
}

/** FOOTER
================================================**/

footer {
	background: #e0e0e0;
	border-top: solid 3px #c3c3c3;
	padding: 40px 0 65px;
	font-family: "KievitWeb", "Arial";
}

footer p {
	font-size: 1em;
	margin-bottom: 5px;
}

footer h4 {
	font-size: 1.25em;
	font-weight: bold;
}

footer .left {
	float: left;
	width: 500px;
}

footer .first h4 {
	padding-top: 3px;
}

footer .icon-icomoon-bx-star {
	top: 2px;
}

footer p.pix {
	margin-top: 25px;
}

footer .twitter {
	margin-top: 16px;
}

/** RESPONSIVE BREAKPOINTS
================================================**/

@media(max-width: 1040px){
	
	.inner {
		width: 100%;
	}
	
	.reference-wrap {
		right: 20px;
	}
	
	aside {
		padding-right: 20px;
	}
	
	#primary {
		padding: 0 20px;
	}
	
	.home h1 {
		width: 90%;
		font-size: 3em;
		margin: 0 auto;
	}
	
	.home .bx-wrapper {
		width: 90%;
	}
	
	.pictogram .operator {
		margin: 0 18px;
	}
	
	header .logo {
		padding-left: 20px;
	}
	
	header .download {
		right: 20px;
	}
	
	header nav {
		right: 170px;
	}
	
	footer .left {
		width: auto;
		float: none;
		padding-left: 20px;
	}
	
	footer .first {
		margin-bottom: 30px;
	}
	
	footer p.pix {
		padding-left: 20px;
	}
	
}

@media(max-width: 700px){
	
	#primary {
		margin: 0 0 750px 0;
	}
	
	aside {
		float: none;
		position: absolute;
		bottom: 0;
		width: 70%;
		padding: 0 20px;
	}

	header .logo {
		margin: 0 auto;
		float: none;
		text-align: center;
		padding: 10px 0;
	}
	
	header nav {
		position: static;
		text-align: center;
	}
	
	header .download {
		position: static;
		text-align: center;
		margin: 25px 0;
	}
	
	.home h1 {
		font-size: 2.25em;
	}
	
	#main {
		padding-top: 20px;
	}
	
}

@media(max-width: 500px){
	
	.example-item h1 {
		font-size: 2em;
		line-height: 1.25em;
	}
	
	aside {
		font-size: 90%;
	}
	
	.home p.pop {
		font-size: 1.25em;
		margin-bottom: 30px;
	}
	
	.reference-wrap {
		display: none;
	}
	
	footer {
		font-size: 85%;
	}
	
}

@media(max-width: 400px){
	
	h1 {
		font-size: 2.5em;
	}
	
	.example-item h1 {
		font-size: 1.5em;
		line-height: 1.25em;
	}
	
	.pictogram {
		font-size: 45%;
	}
	
	.home h1 {
		font-size: 1.75em;
	}
	
	nav a {
		padding: 0 5px;
	}
	
	#primary {
		font-size: 100%;
		margin-bottom: 850px;
	}
			
}